/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

.grid-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: fit-content;
    /*background-color: grey;*/
}

.grid-layout-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    /*height: 100%;*/
    margin: 0 auto;
    padding: 8px 50px;
    width: 1200px;
    /*background-color: yellow;*/
}


.grid-note-container {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
    min-width: 240px;
    width: 240px;

}

.grid-note {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px 0 8px 0;
    min-height: 120px;
    gap: 4px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}


.grid-note-title {
    font-size: 18px;
}

.hover-icons-bottom {
    height: 32px;
}

.grid-note-body {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 60px;
    width: 100%;
    flex-grow: 1;
    word-wrap: break-word;
}

.grid-note-icons {
    display: none;
}

.tick-icon, .pin-icon {
    display: none;
}

.hover-icons {
    display: none;
}

.tick-icon-container {
    width: 32px;
    height: fit-content;
    margin-left: -16px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
}

.pin-icon-container {
    width: 32px;
    margin-right: 8px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.grid-note-container:hover {
    box-shadow: 0 0 4px grey;

    .hover-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .hover-icons > button {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 28px;
        border-radius: 50%;
    }

    .pin-icon, .tick-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pin-icon {
        width: 60px;
        aspect-ratio: 1;
    }
}

.pin-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.hover-icons > button:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

.container-label {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: small;
    margin-left: 50px;
}

.title-desc-label button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    aspect-ratio: 1;
}

.title-desc-label button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}